<ion-header>
    <ion-navbar color="primary">
        <button ion-button [menuToggle]="activeMenu">
					<ion-icon name="menu"></ion-icon>
				</button>
        <ion-title>
            <h2>Operator Support System</h2>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-header icon-left>
            <ion-icon name="bookmark"></ion-icon>Machine Information
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let machineData of machineDatas">
                    <span item-start>{{machineData.title}}</span>
                    <span item-end>{{machineData.content}}</span>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header icon-left>
            <ion-icon name="stats"></ion-icon>Sensor Status
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <div id="chartSolar" style="display: block; width: 190px; height: 250px; float:left;"></div>
                    <div id="chartPhoto" style="display: block; width: 190px; height: 250px; float:left;"></div>
                    <div id="chartMotor" style="display: block; width: 190px; height: 250px; float:left;"></div>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header icon-left>
            <ion-icon name="stats"></ion-icon>Sensor Status
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <div id="chartBasic" style="display: block;"></div>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header icon-left>
            <ion-icon name="build"></ion-icon>Control
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <span item-start icon-left><ion-icon name="power"></ion-icon>Motor</span>
                    <span item-end><button ion-button (click)="controlMotor('on')">On</button></span>
                </ion-item>
                <ion-item>
                    <span item-start icon-left><ion-icon icon-left name="power"></ion-icon>Motor</span>
                    <span item-end><button ion-button (click)="controlMotor('off')" color="danger">Off</button></span>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header icon-left>
            <ion-icon name="checkmark-circle"></ion-icon>Instructions
        </ion-card-header>
        <ion-card-content>
            <ion-slides pager loop="false" autoplay="true">
                <ion-slide style="height:auto" *ngFor="let manual of manuals; let i = index;">
                    <h2 style="margin-top: 0px; font-size: 24px;">{{i+1}}. {{manual.instruction}}</h2>
                    <img class="manualImage" src={{manual.photoNum}} />
                </ion-slide>
            </ion-slides>
        </ion-card-content>
    </ion-card>
    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="openMenu()"><ion-icon name="hammer"></ion-icon></button>
    </ion-fab>
</ion-content>