page-control-machine {
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .refresh-button {
        color: #000;
        border-radius: 30px;
        background-color: transparent;
        border: 1px solid #fff;
    }
    .manualImage {
        background-color: #fff;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .danger {
        .button-inner {
            color: darkred;
        }
    }
}