<ion-header>
    <ion-navbar color="primary">
        <button ion-button [menuToggle]="activeMenu">
					<ion-icon name="menu"></ion-icon>
				</button>

        <ion-title>
            <h2>작업자 지원 서비스</h2>
        </ion-title>

        <ion-buttons end>
            <button ion-button (click)="old_refreshPage()">
						<ion-icon name="refresh"></ion-icon>
					</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <button ion-button block class="refresh-button" (click)="refreshPage1()">machine info</button>
    <button ion-button block class="refresh-button" (click)="refreshPage2()">sensor</button>
    <button ion-button block class="refresh-button" (click)="refreshPage3()">manual</button>
    <ion-card>
        <ion-card-header>
            <h1>설비 정보</h1>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let machineData of machineDatas">
                    <span item-start>{{machineData.title}}</span>
                    <span item-end>{{machineData.content}}</span>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h1>센서 현황</h1>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let sensorData of sensorDatas">
                    <span item-start>{{sensorData.title}}</span>
                    <span item-end>{{sensorData.content}}</span>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h1>지시사항</h1>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let manual of manuals; let i = index;">
                    <span item-start>{{i+1}}. {{manual}}</span>
                    <span item-end><ion-checkbox color="primary"></ion-checkbox></span>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>